<div class="h-44 px-10 bg-gray-100">
  <div class="mx-auto flex items-center justify-between">

    <div class="mt-5">
      <ul class="font-medium text-xl">
        <li>Terms and Conditions</li>
        <li>Notice of Privacy</li>
        <li>Privacy policies</li>
      </ul>
    </div>

    <div class="mt-5">
      <ul class="font-medium text-xl text-center">
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
      </ul>
    </div>

    <div class="cursor-pointer">
      <img src="/assets/image/Icon Redes.svg" alt="">
    </div>
  </div>
  <div class="text-center text-md mt-8">
    <p class="font-bold">2022 Copyright ©</p>
  </div>

</div>
